body{
  background: #afaffc;
margin-top:20px;
background-image: url('https://images.unsplash.com/photo-1484199316358-d7acb93729f2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1495&q=80');
}
form{
  background:#c0b7b7;
  padding: 5px;
  width: fit-content;
  height: 70px;
  margin: 0 auto;
  border-radius: 6px;
}
input[type="text"]{
  font-size: 1em;
  height: 50px;
  background-color: #d9d9f5;
  border:0;
  padding:10px;
  border-radius: 10px 0 0 10px;
  outline: 0;
}
input[type="submit"]{
  font-size: 1em;
  height: 70px;
  background-color: rgb(160, 160, 198);
  border:0;
  padding:10px;
  border-radius: 0 10px 10px 0;
  cursor:pointer;
}

#weatherContainer{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  background:rgb(236 158 183);
  padding: 30px;
  border-radius:15px;
  height:200px;
  width:500px;
  box-shadow: 0 0 20px 2px #5e5d5da9 ;
  
}

#cityName{
  position: absolute;
  top:0;
  left:0;
  font-size: 2.9em;
  width:290px;
  white-space: nowrap;
  overflow-x: scroll;
}

#image{
  position: absolute;
  top:10px;
  right:10px;
  background: rgb(219, 219, 145);
  height: 100px;
  border-radius: 50%;
  border: 0.2px dotted rgb(85, 40, 40);
  box-shadow: 0 0 20px 2px #bfd485 ;
}

#temp{
  position: absolute;
  bottom:20px;
  left:10px;
  font-size: 5em;
}

#main{
  position: absolute;
  bottom:40px;
  right:10px;
  font-size: 2em;

}

#discription{
  position: absolute;
  bottom:5px;
  right:0px;
  font-size: 1.1em;
  background:rgba(216, 250, 239, 0.555);
  border-radius: 0 0 10px 10px;
}

footer {
  display: flex;
  justify-content: end;
  padding-top: 450px;
}
